<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
    <h1>Box Office Data</h1>

    <form action="/">
        <label for="movies">Choose a movie:</label>
        <select name="movies" id="movies">
            <option value="barbie">Barbie</option>
            <option value="mario">The Super Mario Bros. Movie</option>
            <option value="oppenheimer">Oppenheimer</option>
            <option value="gotg3">Guardians of the Galaxy Vol. 3</option>
            <option value="fastX">Fast X</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>