<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask and SQLite</title>
  </head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <script>
      var data = JSON.parse(`{{ data | tojson }}`);
      console.log(data);

      function createDropdowns() {
        for (let i = 0; i < 50; i++) {
          var option = document.createElement("option");
          option.value = data[i][0];
          option.innerHTML = data[i][1];
          var option2 = document.createElement("option");
          option2.value = data[i][0];
          option2.innerHTML = data[i][1];
          document.getElementById("movieDropdown1").appendChild(option);
          document.getElementById("movieDropdown2").appendChild(option2);
        }
      }

      window.addEventListener("load", function () {
        createDropdowns();
      });
    </script>

    <label for="movie1">Pick a movie:</label>
    <select name="movie1" id="movieDropdown1"></select>
    <label for="movie2">Pick another movie:</label>
    <select name="movie2" id="movieDropdown2"></select>
  </body>
</html>
