body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 70%, 10%;
}

form {
  display: flex;
  align-items: center;
  grid-column-start: span 2;
  grid-column-end: auto;
  flex-wrap: wrap;
  margin-top: 10em;
}
.movieSelect1 {
  grid-column: 1/ 2;
}

.movieDisplay1 {
  grid-column: 1/ 2;
}

.movieSelect2 {
  grid-column: 2/ 3;
  grid-row: 1 /2;
}

.movieDisplay2 {
  grid-column: 2 / 3;
}
